.todos {
    color: #fff; 
    width: 400px;
    margin: 20px auto;
  }
  
  .todos button {
    background-color: #e60000;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  
  .todos ul {
    margin-top: 50px;
    list-style-type: none;
    padding: 0;
    margin-left: -200px;
  }
  
  .todos li {
    background: #222; 
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 8px;
    border-left: 5px solid orange;
    border-radius: 6px;
  }
  
  