<div class="about-us-container">

  <!-- Hero / Заголовок страницы -->
  <header class="hero">
    <h1>About Us</h1>
    <h2>Welcome to online store, where you can find top-quality
      electronics and other products at the best prices.
      We are committed to providing a seamless shopping experience,
      excellent customer service, and amazing deals every day.</h2>
  </header>

  <!-- Наша команда -->
  <section class="team">
    <h2>Meet Our Team</h2>
    <div class="team-members">
      <div class="member">
        <img src="images/nazarbaev.webp" alt="Nazarbaev Nursultan">
        <h3>Nazarbaev Nursultan</h3>
        <p>Frontend Developer</p>
      </div>
      <div class="member">
        <img src="images/putin.jpeg" alt="Putin Vladimir">
        <h3>Vladimir Putin</h3>
        <p>UI/UX Designer</p>
      </div>
      <div class="member">
        <img src="images/trump.jpeg" alt="Donald Trump">
        <h3>Donald Trump</h3>
        <p>Backend Developer</p>
      </div>
      <div class="member">
        <img src="images/lukachenko.jpeg" alt="Donald Trump">
        <h3>Aleksandr Lukashenko</h3>
        <p>Devops Developer</p>
      </div>
      <div class="member">
        <img src="images/Kim.jpeg" alt="Donald Trump">
        <h3>Kim Jong Un</h3>
        <p>Product Manager</p>
      </div>
    </div>
  </section>

  <section class="mission-section" style="display: flex; align-items: center; gap: 20px; padding: 40px;">
    <div class="mission-image" style="flex: 7px;">
      <img src="images/mission.jpg" alt="Our Mission" style="width: 100%; border-radius: 10px;">
    </div>

    <div class="mission-text" style="flex: 10px; margin-top: 50px">
      <h2>
        To provide the best online shopping experience with high-quality products
        and a user-friendly platform for everyone.
      </h2>
    </div>
  </section>

  <!-- Контакты -->
  <section class="contact">
    <h2>Talk with Our Team</h2>
    <p>If you have some issues you can write it here.</p>
    <form>
      <input type="text" placeholder="your name" required>
      <input type="email" placeholder="your email" required>
      <textarea placeholder="your message" required></textarea>
      <button type="submit">Submit</button>
    </form>
  </section>

  <div class="contact-info">
    <p>📍 Astana Syganak 23A </p>
    <p>📞+8 (800) 555-3555 </p>
    <p>📧 contact some:gmail</p>
  </div>

</div>

